<div class="container">
    <div class="row">
        <div class="col-auto"><a routerLink="/departments" class="btn btn-primary">Department List</a></div>
        <div class="col-sm-3"><a routerLink="" class="btn btn-primary">Home</a></div>
    
    </div>
    <br>
    <div class="row">
        <h4>Department Form</h4>
    </div>
    
    <form >
        <div class="row">
            <div class="col-sm-3"><label for="">Department No</label></div>
            <div class="col-sm-6"><input type="number" name="deptno"></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Department name</label></div>
            <div class="col-sm-6"><input type="text" name="dname"></div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-sm-3"><label for="">Location</label></div>
            <div class="col-sm-6"><input type="text" name="location"></div>
        </div>
        &nbsp;

        <div class="row">
            <div class="col-sm-3"><button type="submit" class="btn btn-success">submit</button></div>
            
        </div>
    </form>
</div>