<div class="container">
    <h4>Sales Person List</h4>
    <table class="table  table-bordered table-stripped ">
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Salary </th>
            <th>SalesVolume</th>
        </tr>

        <tr *ngFor="let person of salesPersonList"  [ngClass] = "{'metQuote' : person.salary >= 20000,
            'nonMetQuote' : person.salary < 20000}">
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.salary}}</td>
            <td>{{person.salesVolume}}</td>
            <td>
                <div *ngIf = "person.salary>20000; else elseBlock">YES</div>
                <ng-template #elseBlock>NO</ng-template>
            </td>


        </tr>
    </table>

    <form #salesperson="ngForm" (ngSubmit)="onSubmit(salesperson)">
        <div class="row">
            <div class="col-sm-3"><label>First name</label></div>
            <div class="col-sm-6"><input type="text" name="firstName" [(ngModel)]="formModel.firstName"></div>

        </div>
        <div class="row">
            <div class="col-sm-3"><label>Last name</label></div>
            <div class="col-sm-6"><input type="text" name="lastName" [(ngModel)]="formModel.lastName"></div>

        </div>
        <div class="row">
            <div class="col-sm-3"><label>Salary</label></div>
            <div class="col-sm-6"><input type="text" name="salary" [(ngModel)]="formModel.salary"></div>

        </div>
        <div class="row">
            <div class="col-sm-3"><label>Sales Unit</label></div>
            <div class="col-sm-6"><input type="text" name="salesVolume" [(ngModel)]="formModel.salesVolume"></div>

        </div>

        <div class="row">
           <div class="col-sm-3"><button class="btn btn-success" type="submit">Submit</button></div>

        </div>

    </form>
</div>